@charset "UTF-8";
body {
  font-family: OpenSans-Regular400;
  font-family: "Open Sans", sans-serif;
  background-color: var(--bodycolor);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: OpenSans-Regular400;
  src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold600;
  src: url(./fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-Bolt700;
  src: url(./fonts/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Raleway-Bolt700;
  src: url(./fonts/Raleway/static/Raleway-Bold.ttf);
}
:root {
  --body-color: #e5e5e5;
  --white-color: #ffffff;
  --barbers-section: #f7f7f7;
  --hover-color: #ff6c00;
  --accent-color: #ff6c00;
  --second-color: #9da4bd;
  --text-color: #303030;
  --title-color: #303030;
  --text-color-secondary: #555555;
  --font-weight600: 600;
  --font-weight700: 700;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  transition: color 250ms linear;
}
.link:hover, .link:focus {
  color: var(--hover-color);
}
.link :active {
  color: #f18132;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 160px;
  height: 40px;
  border: 1px solid #ff6c00;
  color: var(--white-color);
  background-color: inherit;
  border-radius: 25px;
  transition: color 250ms linear, background-color 250ms linear;
}
.btn:hover, .btn:focus {
  border-radius: 25px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.btn:active {
  background-color: #f18132;
}
.btn__header {
  margin-right: 20px;
}
.btn__about {
  color: var(--text-color-secondary);
}
.btn__prices {
  /* display: block; */
  display: block;
  margin: 0 auto;
}
.btn__footer {
  padding: 12px 38px;
  margin-top: 44px;
}

.header__frame {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  margin-right: auto;
}
.navigation__logo {
  cursor: pointer;
}
.navigation__icon {
  fill: var(--title-color);
  transition: fill 250ms linear;
}
.navigation__icon:hover, .navigation__icon:focus {
  fill: var(--hover-color);
}

.navigation-list__data {
  display: flex;
  align-items: center;
  margin-left: 130px;
  gap: 30px;
}
.navigation-list__link.current {
  color: var(--hover-color);
}
.navigation-list__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
  padding: 10px 10px;
}
.navigation-list__tel {
  margin-right: 60px;
}

.hero {
  background-color: white;
}
.hero__container {
  display: flex;
}
.hero__network {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
  width: 100px;
}

.hero-list {
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--text-color);
}
.hero-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-color);
}

.hero-frame__fon {
  flex-grow: 1;
  padding: 272px 100px 208px 100px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-frame__texttop {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}
.hero-frame__texttop::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.hero-frame__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
  color: #ffffff;
}
.hero-frame__title::before {
  content: "🔥";
  font-size: 50px;
  background-size: contain;
}
.hero-frame__textbot {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  max-width: 360px;
  color: var(--second-color);
}

.about {
  padding: 84px 0;
  background-color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .about {
    padding: 120px 0px;
  }
}
.about__container {
  display: flex;
  gap: 30px;
}
.about__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: inline-flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
.about__list__list li {
  width: 30px;
  display: inline-flex;
  flex-direction: column;
}
.about__list__list li {
  width: 30px;
  display: inline-flex;
  flex-direction: column;
}
.about__list__list img {
  width: 100%;
}
.about__texttop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Open Sans;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: var(--text-color);
}
.about__texttop::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.about__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .about__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
  }
}
.about__texttwo {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
  color: var(--text-color-secondary);
}
@media screen and (min-width: 768px) {
  .about__texttwo {
    font-size: 18px;
    letter-spacing: 0.02em;
  }
}
.about__textbtm {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-bottom: 42px;
  color: var(--text-color-secondary);
}

.prices {
  background-color: #111319;
  background-image: url(../images/img.png), linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .prices {
    padding: 84px 0;
  }
}
.prices .text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-color);
}
.prices .text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.prices-text {
  font-size: 8px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.prices-text:last-child {
  order: 1;
}
@media screen and (min-width: 480px) {
  .prices-text {
    font-size: 11px;
  }
}
@media screen and (min-width: 768px) {
  .prices-text {
    color: #9DA4BD;
    font-size: 14px;
    font-family: Open Sans;
    line-height: 20px;
    letter-spacing: 0.28px;
  }
}
.prices-block {
  margin-bottom: 45px;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .prices-block {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .prices-list {
    width: calc((100% - 30px) / 2);
  }
}
.prices-list-gradientleft {
  padding: 10px 20px 10px 20px;
}
@media screen and (min-width: 480px) {
  .prices-list-gradientleft {
    padding: 10px 40px 10px 40px;
  }
}
@media screen and (min-width: 768px) {
  .prices-list-gradientleft {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .prices-list-gradientleft {
    padding: 10px 20px 10px 20px;
  }
}
.prices-list-gradientright {
  padding: 10px 20px 10px 20px;
}
@media screen and (min-width: 480px) {
  .prices-list-gradientright {
    padding: 10px 40px 30px 40px;
  }
}
@media screen and (min-width: 768px) {
  .prices-list-gradientright {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .prices-list-gradientright {
    padding: 10px 20px 10px 20px;
  }
}
.prices-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.prices-item::before {
  content: "";
  flex-grow: 1;
  order: 1;
  width: 100px;
  height: 1px;
  margin: 0 12px;
  background: rgba(157, 164, 189, 0.12);
}
.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 45px;
  color: var(--white-color);
}

.oldschool {
  padding: 120px 0;
  background-color: var(--white-color);
}
.oldschool-container {
  display: flex;
  padding-left: 100px;
  gap: 130px;
}
.oldschool-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}
.oldschool-block {
  max-width: 500px;
}
.oldschool-item {
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
  background: #f7f7f7;
}
.oldschool-item:nth-child(odd) {
  margin-right: 30px;
}
.oldschool-item:nth-child(even) {
  margin-top: 30px;
}
.oldschool-span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--text-color);
}
.oldschool-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-color);
}
.oldschool-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-color);
}
.oldschool-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.oldschool-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  max-width: 430px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  color: var(--text-color);
}
.oldschool-text-buttom {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
}

.barbers {
  padding: 120px 0;
  background-color: var(--barbers-section);
}
.barbers-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-color);
}
.barbers-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.barbers-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 45px;
  color: var(--text-color);
}

.barbers-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.barbers-block-overlame {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.barber-text-overlame {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0;
  height: 100%;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 10px;
  background-color: rgba(255, 106, 0, 0.6784313725);
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: scroll;
}

.barbers-item:hover .barber-text-overlame {
  transform: translateY(0%);
}

.barbers-title-two {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--text-color);
}

.barbers-text-two {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
  color: var(--accent-color);
}

.barbers-list-network {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.barbers-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--title-color);
  transition: fill 250ms linear, background-color 250ms linear;
}
.barbers-link:hover, .barbers-link:focus {
  fill: white;
  background-color: var(--hover-color);
}

.barbers-icon {
  fill: inherit;
}

.photos {
  padding: 120px 0;
  background-color: var(--white-color);
}
.photos-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 45px;
  color: var(--text-color);
}
.photos-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.photos-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.section-contacts {
  background-color: #111319;
  background-image: url(../images/Bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
  padding: 120px 0;
}

.contacts-container {
  display: flex;
}

.left-contacts {
  max-width: 570px;
  flex-grow: 1;
}

.left-contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 44px;
}

.form-booking {
  display: flex;
  margin-bottom: 44px;
}

.form-booking-label {
  display: inline-block;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.form-booking-label:not(:last-child) {
  margin-right: 30px;
}

.form-booking-label input {
  width: 270px;
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  outline: none;
}

.form-booking-label:focus-within,
.form-commit-label:focus-within {
  color: #ffffff;
}

.form-commit-label {
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.form-commit-label textarea {
  width: 100%;
  min-height: 76px;
  background-color: transparent;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 11px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  outline: none;
}

/* address */
.right-contacts {
  flex-grow: 1;
  padding-left: 100px;
}

.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  color: #ffffff;
}

.address-item {
  margin-top: 20px;
}

.address-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.underline-email {
  text-decoration: underline;
}

.location {
  font-weight: 700;
}

.address-text-work {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 70px;
  color: var(--white-color);
}

.address-text-work::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.address-text-time {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-top: 20px;
  color: var(--second-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(157, 164, 189, 0.4705882353);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
  border: 1px solid var(--hover-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--hover-color);
  color: var(--text-color-secondary);
  margin: 0;
  padding: 0;
  border-radius: 50%;
  transform: scale(1);
}
.modal__btn:hover {
  transform: scale(1.1);
}
.modal__text {
  color: var(--text-color-secondary);
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 40px;
}

.form__frame {
  position: relative;
  margin-bottom: 30px;
}
.form__input {
  position: relative;
  color: var(--text-color);
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form__input:focus {
  border: 1px solid var(--hover-color);
}
.form__input:focus + .form-label {
  transform: translateY(-40px);
}
.form__input:not(:-moz-placeholder-shown) + .form-label {
  transform: translateY(-40px);
}
.form__input:not(:-ms-input-placeholder) + .form-label {
  transform: translateY(-40px);
}
.form__input:not(:placeholder-shown) + .form-label {
  transform: translateY(-40px);
}
.form__label {
  position: absolute;
  top: 50%;
  left: 0;
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 0.12px;
  transform: translateY(-50%);
  padding-left: 10px;
}
.form__texarea {
  margin-bottom: 5px;
}
.form textarea {
  resize: none;
}
.form .btn__form {
  background-color: #ff6c00;
  transition: color 250ms linear, background-color 250ms linear;
}
.form .btn__form:hover, .form .btn__form:focus {
  background-color: var(--white-color);
  color: var(--text-color-secondary);
}
.form .btn__form:active {
  background-color: #f9f5f2;
}
.form__check {
  color: #757575;
  font-size: 12px;
  font-family: Roboto;
  letter-spacing: 0.12px;
}
.form__check span {
  border-radius: 4px;
}
.form__link {
  text-decoration: underline;
}
.form__icon {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid var(--text-color-secondary);
  fill: transparent;
}
.form__accept:checked + .form__check span .form__icon {
  background-color: #ff6c00;
  border: none;
  fill: #ffffff;
}

footer {
  background-color: var(--barbers-section);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
  padding: 55px 15px;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-color);
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #555555;
}

.footer-item {
  display: flex;
}

.footer-item .link {
  padding: 8px 4px;
}

.footer-item a {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */