/* variables */

:root {
  --body-color: #e5e5e5;
  --white-color: #ffffff;
  --barbers-section: #f7f7f7;
  --hover-color: #ff6c00;
  --accent-color: #ff6c00;
  --second-color: #9da4bd;
  --text-color: #303030;
  --title-color: #303030;
  --text-color-secondary: #555555;

  --font-weight600: 600;
  --font-weight700: 700;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
/* downloaded fonts */

@font-face {
  font-family: OpenSans-Regular400;
  src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold600;
  src: url(./fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-Bolt700;
  src: url(./fonts/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Raleway-Bolt700;
  src: url(./fonts/Raleway/static/Raleway-Bold.ttf);
}
/* ------------------------------------------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid yellow;
}

body {
  /* downloaded fonts, work if do not have access to the internet */
  font-family: OpenSans-Regular400;
  /* ********************** */
  font-family: "Open Sans", sans-serif;
  background-color: var(--bodycolor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--hover-color);
}
.link:active{
  color: #f18132;;
}

/* button */

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 20px;

  border: 1px solid #ff6c00;
  color: var(--white-color);
  background-color: inherit;
  border-radius: 25px;
}

.btn:hover,
.btn:focus {
  border-radius: 25px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn:active{
  background-color: #f18132;
}
.btn-footer{
  padding:12px 38px ;
}
/* header */

.header {
  background-color: #555555;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
}
.header-list {
}
.header-item {
}
.header-item-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--white-color);
}
.tel {
}

/* hero */

.hero {
  background-color: #575f7c;
}
.hero-list {
  /* transform: rotate(-90deg); */
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--text-color);
}
.hero-content {
  padding: 272px 100px;
}
.hero-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  margin-bottom: 32px;

  color: #ffffff;
}
.hero-text-buttom {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  max-width: 360px;

  color: var(--second-color);
}

/* about */

.about {
  padding: 120px 0px;

  background-color: azure;
}
.about-list {
}
.about-item {
}
.about-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;
  color: var(--text-color);
}
.about-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 20px;

  color: var(--text-color);
}
.about-text-two {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  color: var(--text-color-secondary);
}
.about-text-bottom {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  margin-bottom: 42px;

  color: var(--text-color-secondary);
}
.btn-about {
}

/* prices */

.prices {
  padding: 120px 0;

  background-color: wheat;
}
.prices .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--second-color);
}
.prices-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 45px;

  color: var(--white-color);
}
.prices-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.btn-prices {
  /* display: block; */
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

/* oldschool */

.oldschool {
  padding: 120px 0;

  background-color: rosybrown;
}
.oldschool-container {
}
.oldschool-list {
}
.oldschool-item {
  outline: 2px solid burlywood;
  width: 170px;
  text-align: center;

  padding: 20px 24px;
}
.oldschool-span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--text-color);
}
.oldschool-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--text-color);
}
.oldschool-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--text-color);
}
.oldschool-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  color: var(--text-color);
}
.oldschool-text-buttom {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--text-color-secondary);
}

/* barbers */

.barbers {
  padding: 120px 0;

  background-color: var(--barbers-section);
}
.barbers-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--text-color);
}
.barbers-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 45px;

  color: var(--text-color);
}
.barbers-list {
}
.barbers-list div {
  padding-top: 30px;
}
.barbers-item {
}
.barbers-title-two {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 8px;

  color: var(--text-color);
}
.barbers-text-two {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 30px;

  color: var(--accent-color);
}
.barbers-list-network {
}
.barbers-item-network {
}
.barbers-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ff6c00;
  display: block;
}

/* photos */

.photos {
  padding: 120px 0;

  background-color: antiquewhite;
}
.photos-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 45px;

  color: var(--text-color);
}
.photos-list {
}
.photos-item {
}

/* contacts */

.section-contacts {
  padding: 120px 0;

  background-color: #12309a;
}

.left-contacts {
  background-color: wheat;
}
.left-contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--white-color);
}
.btn-left-contacts {
  background-color: inherit;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  color: var(--white-color);
}

/* address */

.address {
}
.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 40px;

  color: #ffffff;
}
.address-list {
}
.address-item {
  margin-top: 20px;
}
.address-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.underline-email {
  text-decoration: underline;
}
.location {
  font-weight: 700;
}
.address-text-work {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 70px;

  color: var(--white-color);
}
.address-text-time {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-top: 20px;

  color: var(--second-color);
}

/* footer */
footer {
  background-color: aqua;
}

.footer {
  padding-top: 55px;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--second-color);
}
.footer-list {
}
.footer-item {
}
.footer-item a {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--text-color);
}
