/* variables */

:root {
  --body-color: #e5e5e5;
  --white-color: #ffffff;
  --barbers-section: #f7f7f7;
  --hover-color: #ff6c00;
  --accent-color: #ff6c00;
  --second-color: #9da4bd;
  --text-color: #303030;
  --title-color: #303030;
  --text-color-secondary: #555555;

  --font-weight600: 600;
  --font-weight700: 700;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* downloaded fonts */

@font-face {
  font-family: OpenSans-Regular400;
  src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-SemiBold600;
  src: url(./fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: OpenSans-Bolt700;
  src: url(./fonts/Open_Sans/static/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Raleway-Bolt700;
  src: url(./fonts/Raleway/static/Raleway-Bold.ttf);
}
/* ------------------------------------------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  /* downloaded fonts, work if do not have access to the internet */
  font-family: OpenSans-Regular400;
  /* ********************** */
  font-family: "Open Sans", sans-serif;
  background-color: var(--bodycolor);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.link {
  transition: color 250ms linear;
}
.link:hover,
.link:focus {
  color: var(--hover-color);
}
.link:active {
  color: #f18132;
}
.link:hover {
}
/* button */

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  min-width: 160px;
  height: 40px;

  border: 1px solid #ff6c00;
  color: var(--white-color);
  background-color: inherit;
  border-radius: 25px;
  transition: color 250ms linear, background-color 250ms linear;
}

.btn:hover,
.btn:focus {
  border-radius: 25px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.btn:hover {
}
.btn:active {
  background-color: #f18132;
}
.btn-primary {
  color: var(--text-color);
}
.btn-footer {
  padding: 12px 38px;
}
/* header */
header .container {
  display: flex;
  align-items: center;
}
header {
  position: absolute;
  width: 100%;
}
nav {
  display: flex;
  margin-right: auto;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-logo {
  cursor: pointer;
}
.header-icon {
  fill: var(--title-color);
  transition: fill 250ms linear;
}
.header-icon:hover,
.header-icon:focus {
  fill: var(--hover-color);
}
.header-icon:hover {
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: 130px;
  gap: 30px;
}
.header-item {
}
.header-item-link.current {
  color: var(--hover-color);
}
.header-item-link {
}
.header-item-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
  padding: 10px 10px;
}
.header-tel {
  margin-right: 60px;
}

/* hero */

.hero {
  background-color: white;
}
.hero-container {
  display: flex;
}
.hero-network {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
  width: 100px;
}
.hero-list {
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--text-color);
}
.hero-item {
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--text-color);
}
.hero-content {
  flex-grow: 1;
  padding: 272px 100px 208px 100px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/Slider3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-text-top {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}
.hero-text-top::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  margin-bottom: 32px;

  color: #ffffff;
}
.hero-title::before {
  content: "\1F525";
  font-size: 50px;
  background-size: contain;
}
.hero-text-buttom {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  max-width: 360px;

  color: var(--second-color);
}

/* about */

.about {
  padding: 120px 0px;
  background-color: var(--white-color);
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-text-top {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;
  color: var(--text-color);
}
.about-text-top::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.about-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 20px;

  color: var(--text-color);
}
.about-text-two {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-bottom: 20px;

  color: var(--text-color-secondary);
}
.about-text-bottom {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  margin-bottom: 42px;

  color: var(--text-color-secondary);
}
.btn-about {
}

/* prices */

.prices {
  background-color: #111319;
  background-image: url(../images/img.png), linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 120px 0;
}
.prices-container {
}
.prices .text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--second-color);
}
.prices .text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.prices-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.prices-list {
  width: calc((100% - 30px) / 2);
}
.prices-list-gradientleft {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.prices-list-gradientright {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.prices-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.prices-item::before {
  content: "";
  flex-grow: 1;
  order: 1;
  width: 100px;
  height: 1px;
  margin: 0 12px;
  background: rgba(157, 164, 189, 0.12);
}
.prices-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 45px;

  color: var(--white-color);
}
.prices-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.prices-text:last-child {
  order: 1;
}
.btn-prices {
  /* display: block; */
  display: block;
  margin: 0 auto;
}

/* oldschool */

.oldschool {
  padding: 120px 0;

  background-color: var(--white-color);
}
.oldschool-container {
  display: flex;
  padding-left: 100px;
  gap: 130px;
}
.oldschool-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
}
.oldschool-block {
  max-width: 500px;
}
.oldschool-item {
  width: 170px;
  height: 133px;
  text-align: center;
  padding: 20px 24px;
  background: #f7f7f7;
}
.oldschool-item:nth-child(odd) {
  margin-right: 30px;
}
.oldschool-item:nth-child(even) {
  margin-top: 30px;
}

.oldschool-span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--text-color);
}
.oldschool-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--text-color);
}
.oldschool-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--text-color);
}
.oldschool-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.oldschool-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  max-width: 430px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;

  color: var(--text-color);
}
.oldschool-text-buttom {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--text-color-secondary);
}

/* barbers */

.barbers {
  padding: 120px 0;

  background-color: var(--barbers-section);
}
.barbers-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--text-color);
}
.barbers-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.barbers-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 45px;

  color: var(--text-color);
}
.barbers-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.barbers-list div {
}
.barbers-item {
}
.barbers-block-overlame {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.barber-text-overlame {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0;
  height: 100%;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 10px;
  background-color: #ff6a00ad;
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: scroll;
}
.barbers-item:hover .barber-text-overlame {
  transform: translateY(0%);
}
.barbers-title-two {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 8px;

  color: var(--text-color);
}
.barbers-text-two {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 30px;

  color: var(--accent-color);
}
.barbers-list-network {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.barbers-item-network {
}
.barbers-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--title-color);
  transition: fill 250ms linear, background-color 250ms linear;
}
.barbers-icon {
  fill: inherit;
}
.barbers-link:hover,
.barbers-link:focus {
  fill: white;
  background-color: var(--hover-color);
}

/* photos */

.photos {
  padding: 120px 0;

  background-color: var(--white-color);
}
.photos-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 45px;

  color: var(--text-color);
}
.photos-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.photos-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.photos-item {
}

/* contacts */

.section-contacts {
  background-color: #111319;
  background-image: url(../images/Bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;

  padding: 120px 0;
}

.contacts-container {
  display: flex;
}

.left-contacts {
  max-width: 570px;
  flex-grow: 1;
}
.left-contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--white-color);
}
.btn-left-contacts {
  background-color: inherit;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  color: var(--white-color);
}

/* address */

.address {
}
.right-contacts {
  flex-grow: 1;
  padding-left: 100px;
}
.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 40px;

  color: #ffffff;
}
.address-list {
}
.address-item {
  margin-top: 20px;
}
.address-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.underline-email {
  text-decoration: underline;
}
.location {
  font-weight: 700;
}
.address-text-work {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-top: 70px;

  color: var(--white-color);
}
.address-text-work::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.address-text-time {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  margin-top: 20px;

  color: var(--second-color);
}

/* footer */
footer {
  background-color: var(--barbers-section);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
  padding: 55px 15px;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--second-color);
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;

}
.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #555555;
}
.footer-item {
  display: flex;
}
.footer-item .link {
  padding: 8px 4px;
}
.footer-item a {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--text-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9da4bd78;
  transition: opacity 300ms linear, visibility 300ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  background-color: #fff;

  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 300ms linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--hover-color);
  color: var(--text-color-secondary);
  margin: 0;
  padding: 0;
  border-radius: 50%;
  transform: scale(1);
}
.modal-btn:hover {
  transform: scale(1.1);
}

form {
  padding: 50px 10px;
  border: 1px solid var(--hover-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label-frame {
  width: 400px;
  margin-bottom: 20px;
}
label {
  font-size: 14px;
  line-height: 1.66;
  letter-spacing: 0.02em;

  color: var(--second-color);
}
.modal-recording-text {
  text-align: center;
  margin-bottom: 20px;
}
.modal-input {
  display: flex;
  width: 100%;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 4px;
  color:#51535a;
}
.modal-input::placeholder,
textarea::placeholder {
  font-size: 10px;
}

.modal-input:focus,
textarea:focus {
  outline: 1px solid var(--hover-color);
}
.btn-form {
  color: var(--text-color);
}
textarea {
  width: 100%;
  border: 1px solid var(--second-color);
  border-radius: 5px;
  resize: none;
  padding: 10px;
  color:#51535a;
}
