    <header class="header header__frame">
      <div class="container header__container">
        <nav class="navigation">
          <a class="navigation__logo" href="#">
            <svg class="navigation__icon" width="69" height="55">
              <use href="./images/symbol-defs.svg#icon-Logo"></use>
            </svg>
          </a>
          <ul class="navigation-list navigation-list__data" data-aos="zoom-in">
            <li class="navigation-list__item">
              <a class="navigation-list__link link current" href="#About">About</a>
            </li>
            <li class="navigation-list__item">
              <a class="navigation-list__link link" href="#Services"
                >Services and prices</a
              >
            </li>
            <li class="navigation-list__item">
              <a class="navigation-list__link link" href="#Barbers">Barbers</a>
            </li>
            <li class="navigation-list__item">
              <a class="navigation-list__link link" href="#Contact">Contact</a>
            </li>
          </ul>
        </nav>
        <a class="navigation-list__link navigation-list__tel  link" href="tel:+380441111111"
          >+38 044 111 11 11</a
        >
        <button class="btn btn__header" data-open-modal type="button">
          Online-booking
        </button>
      </div>
    </header>