:root {
    --body-color: #e5e5e5;
    --white-color: #ffffff;
    --barbers-section: #f7f7f7;
    --hover-color: #ff6c00;
    --accent-color: #ff6c00;
    --second-color: #9da4bd;
    --text-color: #303030;
    --title-color: #303030;
    --text-color-secondary: #555555;

    --font-weight600: 600;
    --font-weight700: 700;
}