.btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 160px;
    height: 40px;

    border: 1px solid #ff6c00;
    color: var(--white-color);
    background-color: inherit;
    border-radius: 25px;
    transition: color 250ms linear, background-color 250ms linear;

    &:hover,
    &:focus {
        border-radius: 25px;
        background-color: var(--accent-color);
        color: var(--white-color);
    }

    &:active {
        background-color: #f18132;
    }

    &__header {
        margin-right: 20px;
    }

    &__about {
        color: var(--text-color-secondary);
    }

    &__prices {
        /* display: block; */
        display: block;
        margin: 0 auto;
    }

    &__footer {
        padding: 12px 38px;
        margin-top: 44px;
    }
}
