.btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 160px;
    height: 40px;

    border: 1px solid #ff6c00;
    color: var(--white-color);
    background-color: inherit;
    border-radius: 25px;
    transition: color 250ms linear, background-color 250ms linear;

    &:hover,
    &:focus {
        border-radius: 25px;
        background-color: var(--accent-color);
        color: var(--white-color);
    }

    &:active {
        background-color: #f18132;
    }

    &__header {
        @include tablet {
            margin-bottom: 20px;
        }

        @include desktop {
            margin: 0;
        }
    }

    &__about {
        color: var(--text-color-secondary);
    }

    &__prices {
        /* display: block; */
        display: block;
        margin: 0 auto;
    }

    &__footer {
        padding: 12px 38px;
        margin-top: 44px;
    }
}




.open {
    position: relative;
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: blue;
}

.modal-mobile {
    position: absolute;
    // width: 100vh;
    height: 100vh;
    background-color: red;
    z-index: 99;
    top: 0;
    left: 40%;
    transform: translateX(0);

    transition: transform 450ms linear,
        visibility 450ms linear, opacity 450ms linear;
    ;

}

.modal-mobile.is-hidden {
    transform: translateX(90%);
    opacity: 1;
}

.close {
    width: 40px;
    height: 40px;
    background-color: yellow;
}