@font-face {
    font-family: OpenSans-Regular400;
    src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold600;
    src: url(./fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Bolt700;
    src: url(./fonts/Open_Sans/static/OpenSans-Bold.ttf);
}

@font-face {
    font-family: Raleway-Bolt700;
    src: url(./fonts/Raleway/static/Raleway-Bold.ttf);
}