.about {
    padding: 120px 0px;
    background-color: var(--white-color);


    &__container {
        display: flex;
        gap: 30px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }


    &texttop {
        display: flex;
        gap: 20px;
        align-items: center;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;

        margin-bottom: 20px;
        color: var(--text-color);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: rgba(157, 164, 189, 0.6);
        }
    }

    &__title {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;

        margin-bottom: 20px;

        color: var(--text-color);
    }

    &__texttwo {
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;
        margin-bottom: 20px;

        color: var(--text-color-secondary);
    }

    &__textbtm {
        font-size: 14px;
        line-height: 1.85;
        letter-spacing: 0.02em;
        margin-bottom: 42px;

        color: var(--text-color-secondary);
    }
}