.about {
    padding: 120px 0px;
    background-color: var(--white-color);


    &__container {
        display: flex;
        gap: 30px;
    }

    &__list {
        display: flex;
        gap: 30px;
    }


    &texttop {
        @include dFlex(flex,center,center);
        gap: 20px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;

        margin-bottom: 20px;
        color: var(--text-color);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: rgba(157, 164, 189, 0.6);
        }
    }

    &__title {
        font-family: "Raleway";
        @include fons(700,42px,49px,0.05em);
        margin-bottom: 20px;

        color: var(--text-color);
    }

    &__texttwo {
        @include fons(null, 18px,null,0.02em);
        margin-bottom: 20px;

        color: var(--text-color-secondary);
    }

    &__textbtm {
        @include fons(null, 14px, 26px, 0.02em);
        margin-bottom: 42px;

        color: var(--text-color-secondary);
    }
}