.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;

    @include mobile {
    padding-right: 15px;
        padding-left: 15px;
    }

    @include tablet {
        width: 768px;
        
    }

    @include desktop {
        width: 1200px;
    }
}