.section-contacts {
    background-color: #111319;
    background-image: url(../images/Bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 100%;

    padding: 80px 0;

    @include desktop {
        padding: 120px 0;
    }
}

.contacts-container {
    @include desktop{
        display: flex;
    }
}

.left-contacts {
    // max-width: 570px;
    flex-grow: 1;

    @media screen and (max-width:1199px) {
        width: 100%;
    }
}

.left-contacts-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 44px;
}


.form-booking {

    // display: flex;
    margin-bottom: 44px;

    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.form-booking-label {
    display: inline-block;
    color: rgba(157, 164, 189, 0.40);
    font-size: 11px;
    font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    @media screen and(max-width: 767px) {
        display: flex;
        align-items: baseline;
    }
}

.form-booking-label:not(:last-child) {

    @include desktop {
        margin-right: 30px;
    }
}

.form-booking-label input {
    width: 270px;
    padding: 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    outline: none;

    @media screen and(max-width:767px) {
        width: 100%;
    }
}

.form-booking-label:focus-within,
.form-commit-label:focus-within {
    color: #ffffff;
}

.form-commit-label {
    color: rgba(157, 164, 189, 0.40);
    font-size: 11px;
    font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.form-commit-label textarea {
    width: 100%;
    min-height: 76px;
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 11px;
    font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    outline: none;
}

.form-commit {}






/* address */

.address {}

.right-contacts {
    flex-grow: 1;
  
    
    @include desktop{
        width: 785px;
        display: flex;
        flex-direction: column;

        padding-left: 100px;
    }
}

.contacts-title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    margin-bottom: 40px;

    color: #ffffff;
}

.address-list {}

.address-item {
    margin-top: 20px;
}

.address-link {
    font-style: normal;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;

    color: var(--second-color);
}

.underline-email {
    text-decoration: underline;
}

.location {
    font-weight: 700;
}

.address-text-work {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-top: 70px;

    color: var(--white-color);
}

.address-text-work::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
}

.address-text-time {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    margin-top: 20px;

    color: var(--second-color);
}