.header {
    &__frame {
        position: absolute;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        // justify-content: space-between;
    }
}

.navigation {
    display: none;
    // margin-right: auto;

    @include tablet {
        display: flex;
        align-items: baseline;
    }

    &__logo {
        cursor: pointer;
    }

    &__icon {
        fill: var(--title-color);
        transition: fill 250ms linear;

        &:hover,
        &:focus {
            fill: var(--hover-color);
        }

        @media screen and(max-width:767px) {
            fill: white;
        }
    }
}

.navigation-list {
    &__data {
        display: flex;
        align-items: center;
        margin-left: 100px;
        gap: 30px;

        @media screen and (max-width:1199px) {
            display: flex;
            margin-left: 30px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (max-width:1199px) {
            margin-left: 25px;
        }

        @include desktop {
            align-items: center;
            flex-direction: row;
            margin-left: 185px;
        }
    }

    &__link.current {
        color: var(--hover-color);
    }

    &__link {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: var(--white-color);
        padding: 10px 10px;
    }

    &__tel {
        @include desktop {
            margin-right: 60px;
        }
    }
}
