.header {
    &__frame {
        position: absolute;
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
    }
}

.navigation {
    display: flex;
    margin-right: auto;

    &__logo {
        cursor: pointer;
    }

    &__icon {
        fill: var(--title-color);
        transition: fill 250ms linear;

        &:hover,
        &:focus {
            fill: var(--hover-color);
        }
    }
}

.navigation-list {
    &__data {
        display: flex;
        align-items: center;
        margin-left: 130px;
        gap: 30px;
    }

    &__link.current {
        color: var(--hover-color);
    }

    &__link {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: var(--white-color);
        padding: 10px 10px;
    }

    &__tel {
        margin-right: 60px;
    }
}