header .container {
    display: flex;
    align-items: center;
}

header {
    position: absolute;
    width: 100%;
}

nav {
    display: flex;
    margin-right: auto;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-logo {
    cursor: pointer;
}

.header-icon {
    fill: var(--title-color);
    transition: fill 250ms linear;
}

.header-icon:hover,
.header-icon:focus {
    fill: var(--hover-color);
}

.header-icon:hover {}

.header-list {
    display: flex;
    align-items: center;
    margin-left: 130px;
    gap: 30px;
}

.header-item {}

.header-item-link.current {
    color: var(--hover-color);
}

.header-item-link {}

.header-item-link,
.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-color);
    padding: 10px 10px;
}

.header-tel {
    margin-right: 60px;
}