.hero {
    background-color: white;

    &__container {
        padding: 0;
        @include tablet{
            display: flex;
        }
    }

    &__network {
        display: none;
        width: 100%;
       
        align-items: flex-end;
        padding-left: 27px;
        padding-bottom: 40px;
        width: 100px;

        @include tablet {
            display: flex;

        }
    }
}



.hero-list {
    transform-origin: bottom left;
    transform: rotate(-90deg) translateY(100%);
    display: flex;
    align-items: center;
    gap: 40px;

    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: var(--text-color);
    }

    &__link {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;

        color: var(--text-color);
    }
}

.hero-frame {

    &__fon {
        flex-grow: 1;
        padding: 272px 100px 208px 100px;

        background-color: rgba(25, 28, 38, 0.2);
        background-image: linear-gradient(rgba(25, 28, 38, 0.2),
                rgba(25, 28, 38, 0.2)),
            url(../images/Slider3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__texttop {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;

        margin-bottom: 20px;

        color: rgba(157, 164, 189, 0.6);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: rgba(157, 164, 189, 0.6);
        }
    }



    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.18;
        letter-spacing: 0.05em;

        margin-bottom: 32px;

        color: #ffffff;

        @include mobile {
            font-size: 45px;
        }

        @include tablet {
            font-size: 72px;
        }

        &::before {
            content: "\1F525";
            font-size: 50px;
            background-size: contain;
        }
    }

    &__textbot {
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;
        max-width: 360px;

        color: var(--second-color);
    }
}