.oldschool {
    padding: 80px 0;

    background-color: var(--white-color);

    @include tablet {
        padding: 120px 0;
    }

    @include desktop {
        display: flex;
    }

    &-container {
        @include mobile {
            display: flex;
            flex-direction: column-reverse;
            gap: 130px;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            padding-left: 100px;
            gap: 130px;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding-bottom: 60px;
        background-color: #fff;

        @include tablet {
            justify-content: flex-end;
        }

        @include desktop {
            justify-content: center;
        }
    }

    &-block {
        max-width: 500px;
    }

    &-item {
        width: 133px;

        height: 133px;
        text-align: center;
        padding: 20px 24px;
        background: #f7f7f7;

        @media screen and(min-width:420px) {
            width: 170px;
        }

        @include mobile {
            width: 194px;
        }

        @media screen and(min-width:672px) and (max-width:719px) {
            width: 210px;
        }

        @media screen and(min-width:720px){
            width: 230px;
        }


        &:nth-child(odd) {
            margin-right: 30px;
        }

        &:nth-child(even) {
            margin-top: 30px;
        }
    }




    &-span {
        font-weight: 700;
        font-size: 42px;
        line-height: 1.35;
        text-align: center;
        letter-spacing: 0.05em;

        color: var(--text-color);
    }

    &-item-text {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-align: center;

        color: var(--text-color);
    }

    &-text {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        margin-bottom: 20px;

        color: var(--text-color);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: currentColor;
        }
    }

    &-title {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 42px;
        max-width: 430px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        margin-bottom: 20px;

        color: var(--text-color);
    }

    &-text-buttom {
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;

        color: var(--text-color-secondary);
    }
}