.prices {
    background-color: #111319;
    background-image: url(../images/img.png), linear-gradient(#111319, #111319);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 84px 0;

    @include tablet {
        padding: 84px 0;
    }



    & .text {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        text-transform: uppercase;
        margin-bottom: 20px;

        color: var(--second-color);

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: currentColor;
        }
    }

    &-text {
        font-size: 8px;
        line-height: 1.66;
        letter-spacing: 0.02em;

        color: var(--second-color);

        &:last-child {
            order: 1;
        }

        @include mobile {
            font-size: 11px;
        }

        @include tablet {
            color: #9DA4BD;
            font-size: 14px;
            font-family: Open Sans;
            line-height: 20px;
            letter-spacing: 0.28px;
        }
    }

    &-block {
        margin-bottom: 45px;
        background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.20) 100%);

        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &-list {
        @include desktop {
            width: calc((100% - 30px) / 2);
        }

        &-gradientleft {

            padding: 10px 20px 10px 20px;

            @include mobile {
                padding: 10px 40px 10px 40px;

            }

            @include tablet {
                background-image: linear-gradient(180deg,
                        #171a24 0%,
                        rgba(23, 26, 36, 0.2) 100%);
            }

            @include desktop {
                padding: 10px 20px 10px 20px;
            }

        }

        &-gradientright {
            padding: 10px 20px 10px 20px;


            @include mobile {
                padding: 10px 40px 30px 40px;
            }

            @include tablet {
                background-image: linear-gradient(180deg,
                        #171a24 0%,
                        rgba(23, 26, 36, 0.2) 100%);
            }

            @include desktop {
                padding: 10px 20px 10px 20px;
            }
        }
    }

    &-item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        &::before {
            content: "";
            flex-grow: 1;
            order: 1;
            width: 100px;
            height: 1px;
            margin: 0 12px;
            background: rgba(157, 164, 189, 0.12);
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &-title {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 40px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        margin-bottom: 45px;

        color: var(--white-color);
    }

}